@import "../mixins/nth";

.campaign-col {
  margin-bottom: 20px;
}
.campaign-card {
  a {
    color: $greyish-blue !important;
    &:hover {
      color: darken($greyish-blue, 35%) !important;
      transition: 0.3s linear fade-in
    }
  }
  @include isViewport(x-small) {
    width: 80vw;
  }
  @include isViewport(small) {
    width: 40vw;
  }
  @include isViewport(medium) {
    width: 28vw;
  }
  .ant-card-head {
    border-bottom: transparent solid 2px;
  }
  &:hover {
    .ant-card-head {
      border-bottom: $border-grey solid 2px;
      transition: 0.6s linear fade-in;
    }
  }
}
