.header {
  padding: 0;
  background-color: $navy-main;
  &-container {
    width: 90%;
    margin: auto;
  }
  &-userbar {
    float: right;
  }
  &-title {
    display: inline;
  }
  &-userbar {
    &--address {
      color: white;
      &--tag {
        margin-right: 0;
      }
    }
  }
}
