.landing {
  h2 {
    color: $jaguar-dark;
  }
  &-content {
    width: 100%;
    .ethereum-logo {
      height: 150px;
    }
    .section-opened_campaigns {
      min-height: 100vh;
    }
    .section-no_provider {
      min-height: 100vh;
      text-align: center;
      &--text {
        margin: 1.5% 0 1.5% 0;
      }
      .ethereum-logo {
        margin-top: 1%;
      }
      .provider-card {
        padding-bottom: 150px;
        &--text {
          width: 100%;
          position: absolute;
          margin-top: 200px;
          top: 100px;
          justify-items: center;
          left: 50%;
          p {
            position: relative;
            left: -50%;
          }
        }
      }
    }
  }
  &-row {
    width: 90%;
    margin: auto;
  }
}
