$blue-main : #1890ff;
$night-rider: #2c2c2c;
$bright-tortoise: #00ffd6;
$bright-grey: #4F5362;
$jaguar-dark: #222228;
$light-sea_green: #1ABC9C;
$sea_green: #26A69A;
$geraldine-red: #F07371;
$sunset-red: #EF5350;
$navy-main: #001f3f;
$white-floral: #F8F7F5;
$ivory-grey: #FCFCFB;
$border-grey: #C4C6CC;
